

<div class="row boundary">
    <div style="text-align:center">
        <a href="home-component" class="btn btn-light button" role="button" aria-pressed="true">Home</a>
        <a href="resume-component"class="btn btn-light button" role="button" aria-pressed="true">Resume</a>
        <a href="portfolio-component" class="btn btn-light button" role="button" aria-pressed="true">Portfolio</a>
        <a href="about-component" class="btn btn-light button" role="button" aria-pressed="true">Contact</a>
    </div>
</div>